[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true

[remote "fg_core"]
	url = git@fraggod.net:public/fg_exheres.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[remote "github"]
	url = git@github.com:mk-fg/fg_exheres.git
	fetch = +refs/heads/*:refs/remotes/github/*
[remote "origin"]
	url = git@fraggod.net:public/fg_exheres.git
	url = git@github.com:mk-fg/fg_exheres.git

[filter "exheres_syntax"]
	clean = $GIT_DIR/../_exheres_filter.py clean %f
	smudge = $GIT_DIR/../_exheres_filter.py smudge %f
